@font-face {
    font-family: 'Brandon Grotesque';
    src: url(../../src/assets/font/BrandonGrotesque-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque';
    font-weight: 900;
    src: url(../../src/assets/font/BrandonGrotesque-Bold.woff) format('woff');
}

body {
    font-family: Brandon Grotesque !important;
}

.app-logo {
    height: 25px;
}

.logo-title {
    font-weight: 500;
    font-size: 24px;
    color: #5b5b5b;
    position: absolute;
    left: 180px;
    top: 8px;
}


.rocket {
    padding-right: 30px;
    z-index: -1111 !important;
}

.reload {
    background-color: #215184;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: absolute;
    right: 0;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    top: 8px;
}

.left-circle {
    width: 18px;
    height: 36px;
    border-radius: 18px 0 0 18px;
    background-color: #215184;
    position: absolute;
    right: 120px;
    top: 8px;
}

.reload span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-right: 10px;
}

.reload button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}


.header-margin {
    margin-top: 60px !important;
}
.form-select {
    background: #215184 !important;
    border-radius: 0!important;
    color: #fff!important;
    background-image: url("../../src/assets/icon/select.png") !important;
    background-repeat: no-repeat!important;
    background-position-x: 140px !important;
    background-position-y: 12px !important;
    background-size: 16px 12px!important;
    cursor: pointer !important;
    border: 0 !important;
}


.filter {
    background-color: #215184;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    min-width: 150px;
}

.filter-year {
    background-color: #215184;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    min-width: 150px;
}

.filter button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.filter span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-right: 10px;
}

.button-list {
    background-color: #fff;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right: 0px solid #d9d9d9;
    box-shadow: 3px 3px 5px 1px #d9d9d9, -3px 3px 5px #d9d9d9;
    color: #545454;
    padding: 10px;
    margin-bottom: 15px;
}

.index-nr {
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    margin-top: 2px;
}

.ship {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 60px;
    padding-top: 8px;
}



.ship-two {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    padding-right: 20px;
}

.date-ship {
    font-size: 12px;
    text-align: right;
    padding-right: 20px;
}


